<div class="navbar__extension">
  <div class="extension_wrapper">
    <ul class="list-menu list-menu--inline" role="list">
      {%- for link in section.settings.menu.links limit: 3 -%}
        <li>
          {%- if link.links != blank -%}
            <a
              id=""
              href="#"
              class="open-categories header__menu-item list-menu__item link link--text focus-inset"
              {% if link.current %}
                aria-current="page"
              {% endif %}
              data-value="{{- link.title | escape -}}"
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          {%- else -%}
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="header__menu-item list-menu__item link link--text focus-inset"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
